.cardContainer {
  /* width: 500px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 2px dotted rgb(235, 15, 15); */
}
.cardContainer>* {
    flex: 0 0 320px;
    margin: 16px;
    padding: 8px;
    /* border: 2px dotted rgb(96, 139, 168); */
    /* border-radius: 20px; */
    /* background-color: #ffd781; */
}

.mapDescription {
  text-align: center;
  padding: 8px;
  margin: 4px;
  border-radius: 20px;
  background-color: var(--dim);
  /* border: 2px dotted rgb(96, 139, 168); */
  /* color: var(--primary-brown) */
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.3);
}

.pageContainer {
  background-color: #FFFFFF;
  /* background-color: rgb(255, 255, 128); */
  /* background-color: transparent; */
}

img:hover {
  opacity: .95;
}

.imgThumbnail {
  border-radius: 20px;
  opacity: 0.85;
  /* border-top-right-radius: 20px; */
  /* border-top-left-radius: 20px; */
}