/* Fill me in :) */

/* full screen hero css and html from foundation6 */
/* src: https://foundation.zurb.com/building-blocks/blocks/hero-full-screen.html */
.home-background {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://i.imgur.com/49AuhbP.jpg") center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.home-buttons {
  display: flex;
  width: 400px;
  justify-content: space-between;
  left: 100%;
}

.hero-full-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero-full-screen .middle-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fefefe;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background: transparent;
}

.hero-full-screen .top-bar .menu {
  background: transparent;
}

.hero-full-screen .top-bar .menu-text {
  color: #fefefe;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #fefefe;
  font-weight: bold;
}
  
  