.NavBar-container {
  padding: var(--s) var(--s);
  /* background-color: var(--primary); */
  background-color: #ffae00
}

.NavBar-title {
  /* color: var(--white); */
  color: #fefefe;
  font-size: 20px;
  font-weight: bold;
}

.NavBar-linkContainer {
  margin-left: var(--m);
}

.NavBar-link,
.NavBar-link:visited {
  /* color: var(--white); */
  color: #fefefe;
  /* opacity: 0.6; */
  text-decoration: none;
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
