@import url('https://fonts.googleapis.com/css?family=Englebert&display=swap');

.NavBar-container {
  padding: var(--s) var(--s);
  background: linear-gradient(0.25turn, var(--secondary-blue), var(--dim), var(--secondary-yellow));
  opacity: .9;
}

.home-background .NavBar-container {
  padding: var(--s) var(--s);
  background: transparent;
}

.profile-background .NavBar-container {
  padding: var(--s) var(--s);
  background: transparent;
}

.NavBar-title {

  /* color: #694A38; */
  color: var(--primary-brown);
  font-size: var(--m);
  font-weight: bold;
}

.home-background .NavBar-title {
  /* color: #694A38; */
  color: var(--secondary-yellow);
  font-size: var(--l);
  font-weight: bold;
}

.profile-background .NavBar-title {
  /* color: #694A38; */
  color: var(--secondary-yellow);
  font-size: var(--l);
  font-weight: bold;
}

.NavBar-linkContainer {
  margin-left: var(--xs);
  display: flex;
  align-items: center;
}

.NavBar-link,
.NavBar-link:visited {
  color: var(--primary-brown);
  text-decoration: none;
  font-weight: bold;
}

.NavBar-link:hover {
  opacity: 0.8;
}

.NavBar-link.NavBar-login {
  opacity: 1;
}

.NavBar-login-container {
  text-align: right;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}

.logo {
  margin-right: var(--m);
  width: 150px;
  height: auto;
  /* background-color: #251602; */
}

.hover-underline-menu {
  width: 100%;
  color: var(--primary-brown);
}

.hover-underline-menu .menu-container {
  background-color: transparent;
}

.hover-underline-menu .menu-container .underline-from-center {
  position: relative;
  color: var(--primary-brown);
  padding: 0.8rem 1.5rem;
  font-size: var(--m);
  font-weight: bold;
  /* font-family: 'Englebert', sans-serif; */
}

.home-background .hover-underline-menu .menu-container .underline-from-center {
  position: relative;
  color: var(--secondary-yellow);
  padding: 0.8rem 1.5rem;
  font-size: var(--m);
  font-weight: bold;
  /* font-family: 'Englebert', sans-serif; */
}

.profile-background .hover-underline-menu .menu-container .underline-from-center {
  position: relative;
  color: var(--secondary-yellow);
  padding: 0.8rem 1.5rem;
  font-size: var(--m);
  font-weight: bold;
  /* font-family: 'Englebert', sans-serif; */
}

.hover-underline-menu .menu-container .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid var(--primary-brown);
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.home-background .hover-underline-menu .menu-container .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid var(--secondary-yellow);
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.profile-background .hover-underline-menu .menu-container .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.125rem);
  border-bottom: 0.125rem solid var(--secondary-yellow);
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu-container .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}